header{
	min-height: 10vh;
	font-size: 18px;
	color: #003b49;
}

.nav{
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav li{
	font-family: 'Nunito', sans-serif;
	font-size: large;
	align-items: center;
	background-color: #94a596;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	overflow: hidden;
} 

h1{
	font-size: 10vw; 
	font-weight: bold;
	color: #94a596;
	margin: 25px ;
	text-align: center;
}
a{
	font-size: 24px;
	align-items: center;
}
ol li{
	font-size: 20px ;
}

ul li{
	font-size: 18px;
}

footer{
	min-height: 10vh;
	background-color: #177289;
	padding: 10px 8px;
	margin-top: 8px;
}


.active{
	background-color: #94a596;
	font-weight: bold;
	border: 3px solid #003b49
}

img{
	margin: 10px;
	border: 3px solid;
	width: 250px;
	border-radius: 15px
}

img:hover{
	filter: grayscale(.5);
}

body{
	background-image: url("../images/marble.jpg");
	background-color: #d7c2b0;
}
image{
	align-content: center;
	
}
p{
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	text-align: center;

}
P.blocktext{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div{
    min-height: 95px;
    
}
.ingredients{
	width:45%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
    border: 3px solid #177289;
	/* width: 45%; 
	height: 300px; 
	float: left;
	border:#177289 solid;
	border-width: 3px 3px 3px 3px; */
}
.directions{
	width:45%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
    border: 3px solid #177289;
	/* width: 45%;
	height: 300px; 
	float: right;
	border: #177289 solid;
	border-width: 3px 3px 3px 3px; */
}
.bread{
	width:95%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
    border: 3px solid #177289;
	/* width: 95%;
	height: 60px;
    float: center;
	border-style: #177289 solid;
    border-width: 3px 3px 3px 3px; */
}
.garlic{
	width: 95%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
    border: 3px solid #177289;
	/* width: 95%;
	height: 60px;
    float: center;
	border-style: #177289 solid;
    border-width: 3px 3px 3px 3px; */
}
.garlic_ingredients{
	height: 90%;
	width: 45%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
    border: 3px solid #177289;
	/* width: 45%; 
	height: 300px; 
	float: left;
	border:#177289 solid;
	border-width: 3px 3px 3px 3px; */
}
.garlic_directions{
	width:45%;
    display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
    border: 3px solid #177289;
	/* width: 45%;
	height: 300px; 
	float: right;
	border: #177289 solid;
	border-width: 3px 3px 3px 3px; */
}
.container{
	display: grid;
	grid-template-columns: 300px 300px 300px ;
	row-gap: 10px;
	column-gap: 10px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.grid img{
	width: 90%;
	margin:5px;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-evenly; 

}
.flex img{
	width: 90%;
	margin: 10px;
	object-fit: cover;
}

.parallax {
	/* The image used */
	background-image: url("../images/img_parallax.jpg");
			
	/* Set a specific height */
	min-height: 500px;
	min-width: 85%;
			
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
			
#sign {
position: relative;
animation-name: mymove;
animation-duration: 8s;
animation-timing-function: linear;
margin: 0 auto;
}

@keyframes mymove {
from {width: 35px; opacity: 0;}
to {width: 375px; opacity: 1;}
}


a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#94a596;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding: 3px;px;
    border-radius: 10px;
    border:3px solid #003b49;
    text-align:center;
    font-size:1.2em;
} 
.flip-card:focus .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card {
	background-color: transparent;
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 80%;
	height: 80%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: transparent;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	background-color: #003b49;
	border: 5px solid;
	color: rgb(16, 15, 15);
	transform: rotateY(180deg);
  }	

  .flip-cardback p{
	  background: black;
  }
@media screen and (prefers-reduced-motion) {
	#sign{
		animation-name: none;
	}
	.parallax{
		background-attachment: initial;
	} 
 }
 /* Tablet Responsive Design*/
 @media only screen and (min-width: 700px) {

 footer{
	min-height: 20vh;
	background-color: grey;
	padding: 10px 8px;
	margin-top: 8px;}
 }
  /* Desktop Responsive Design*/
 @media only screen and (min-width: 900px){
	footer{
		min-height: 15vh;
		background-color: lightskyblue;
		padding: 8px 6px;
		margin-top: 4px;}
 }
 
